/* styles.css */

:root {
    --primary-color: #1d7532;
    --secondary-color: #308540;
    --surface: #f7fbf2;
    --secondary-container: #d4e8d0;
    --white-text: #fff;
}

html,
body {
    height: 100%;
    margin: 0;

}

body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    text-align: center;
    background-color: #fafafa;
    color: #333;
    display: flex;
    flex-direction: column;
}

h1 {
    font-weight: 700;
    color: #2c3e50;
    margin-top: 50px;
    font-size: 2.5em;
}

h2 {
    font-weight: 700;
    color: #2c3e50;
    margin-top: 50px;
    font-size: 2em;
}


header {
    margin: 0;
    padding: 0;
}

main {
    padding: 12px;
    flex-grow: 1;
    /* Add styles for main content here */
}

main p {
    font-size: 1.5em;
    margin-bottom: 20px;
}

footer {
    background-color: #f0f0f0;
    text-align: center;
    padding: 10px;
}

.hero-banner {
    position: relative;
    height: 400px;
    /* Adjust the height as needed */
    background: url('your-hero-image.jpg') no-repeat center center/cover;
    /* Replace with your image URL */

    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.hero-content {
    max-width: 800px;
    padding: 20px;
}

.hero-content h1 {
    font-size: 3em;
    margin-bottom: 10px;
}

.hero-content p {
    font-size: 1.5em;
    margin-bottom: 20px;
}



.cta-button {
    display: inline-block;
    padding: 10px 20px;
    font-size: 1.2em;
    color: #fff;
    background-color: var(--primary-color);
    text-decoration: none;
    border-radius: 5px;
}

.cta-button:hover {
    background-color: var(--secondary-color);
}

.cta-button:active {
    background-color: var(--primary-color);
}


.image-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

img {
    max-width: 400px;
    /* Adjust max-width as needed */
    max-height: 300px;
    /* Adjust max-height as needed */
    object-fit: contain;
}

/* contact form */

textarea,
input {
    font-family: Helvetica, Arial, sans-serif;
}


/* Style inputs with type="text", select elements and textareas */
input[type=text],
select,
textarea {
    width: 100%;
    /* Full width */
    padding: 12px;
    /* Some padding */
    border: 1px solid #ccc;
    /* Gray border */
    border-radius: 4px;
    /* Rounded borders */
    box-sizing: border-box;
    /* Make sure that padding and width stays in place */
    margin-top: 6px;
    /* Add a top margin */
    margin-bottom: 16px;
    /* Bottom margin */
    resize: vertical
        /* Allow the user to vertically resize the textarea (not horizontally) */
}

/* Style the submit button with a specific background color etc */
input[type=submit] {
    background-color: var(--primary-color);
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: 100%;

}

/* When moving the mouse over the submit button, add a darker green color */
input[type=submit]:hover {
    background-color: var(--secondary-color);
}

/* Add a background color and some padding around the form */
.form-container {
    margin: auto;
    position: relative;
    align-items: center;
    text-align: left;
    border-radius: 5px;
    padding: 20px;
    max-width: 400px;
}

.note-container {
    height: 150px;
}

#thank-you-message {
    display: none;
}

#thank-you-message.show {
    display: block;
}
