/* styles.css */

:root {
    --primary: #466730;
    --secondary: #78866b;
    --tertiary: #d4e8d0;
    --secondary-container: #d4e8d0;
    --black-text-color: #0f0f0f;
    --shop-button-text-color: #FFF;
}

.mail-link {
    color: var(--tertiary);
}

body {
    font-family: 'Libre Baskerville', serif;
    padding: 0;
    text-align: center;
    background-color: var(--secondary);
    color: #333;
    display: flex;
    flex-direction: column;
    height: 100%;
}

h1 {
    font-weight: 700;
    color: var(--black-text-color);

    font-size: 2.0em;
}

h2 {
    font-weight: 700;
    color: var(--black-text-color);

    font-size: 1.5em;
}

h3 {
    font-weight: 600;
    color: var(--black-text-color);
    font-size: 1.0em;
}

header {
    margin: 0;
    padding: 0;
}

main {
    flex-grow: 1;
    /* Add styles for main content here */
}

p {
    font-size: 1.0em;
    color: var(--black-text-color);
    margin-bottom: 20px;
}

footer {
    background-color: #f0f0f0;
    text-align: center;
    padding: 10px;
}

.glossy-button {
    font-family: 'Libre Baskerville', serif;
    font-weight: bold;
    font-size: 1.2em;
    display: inline-block;
    padding: 15px 30px;
    text-decoration: none;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    transition: all 0.3s ease;
}

.glossy-button:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    transform: translateY(-2px);
}

.image-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

img {
    max-width: 400px;
    /* Adjust max-width as needed */
    max-height: 300px;
    /* Adjust max-height as needed */
    object-fit: contain;
}

/* contact form */
textarea,
input {
    font-family: Helvetica, Arial, sans-serif;
}

/* Style inputs with type="text", select elements and textareas */
input[type=text],
select,
textarea {
    width: 100%;
    /* Full width */
    padding: 12px;
    /* Some padding */
    border: 1px solid #ccc;
    /* Gray border */
    border-radius: 4px;
    /* Rounded borders */
    box-sizing: border-box;
    /* Make sure that padding and width stays in place */
    margin-top: 6px;
    /* Add a top margin */
    margin-bottom: 16px;
    /* Bottom margin */
    resize: vertical
        /* Allow the user to vertically resize the textarea (not horizontally) */
}

/* Style the submit button with a specific background color etc */
input[type=submit] {
    color: var(--shop-button-text-color);
    background-color: var(--primary);
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: 100%;

}

/* Add a background color and some padding around the form */
.form-container {
    margin: auto;
    position: relative;
    align-items: center;
    text-align: left;
    border-radius: 5px;
    padding: 20px;
    max-width: 400px;
}

.content-container {
    margin: auto;
    position: relative;
    align-items: center;
    text-align: left;
    border-radius: 5px;
    max-width: 600px;
    padding: 24px;
    margin-bottom: 24px;
    background: var(--tertiary);
}

.content-container h2 {
    text-align: center;
}

.note-container {
    height: 150px;
}

#thank-you-message {
    display: none;
}

#thank-you-message.show {
    display: block;
}


.marquee-img {
    flex-shrink: 0;
    width: 600px;
    height: 400px;
    margin: auto;
    object-fit: cover;
}

.marquee-container {
    width: 100%;
    background-color: #f8f9fa;
    padding-top: 45px;
    padding-bottom: 45px;
}

.marquee {
    overflow: clip;
}

.marquee-content {
    display: flex;
    padding-left: 2.8rem;
    gap: 2.8rem;
    
    animation: marquee-move var(--speed, 30s) linear infinite var(--direction,
            forwards);
}

@keyframes marquee-move {
    to {
        transform: translateX(-75%);
    }
    0% { opacity: 0;}
    5% { opacity: 100;}
    95% { opacity: 100;}
    100% { opacity: 0;} 
}

